body{
	max-width: 767px;
	display: flex;
	flex-direction: column;
	height:100vh;
	width:100vw;
}

header{
	display: flex;
	height:15vh;
	align-items: center;
}

main{
	/* flex:1; */
	display: flex;
	flex-direction: column;
}

sidebar{
	height:25%;
	display:flex;
	align-items: center;
	padding:50px;
}

section:nth-of-type(1){
	/* height: 50vh; */
	display: flex;
	flex-direction: column;
}

section:nth-of-type(1) > p{
	display: flex;
	width:100vw;
	height:100vh;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(2){
	display: flex;
	height:80vh;
	flex-direction: row;
	flex-wrap: wrap;
}

section:nth-of-type(2) > p{
	display: flex;
	width:50vw;
	align-items: center;
	justify-content: center;
}

footer{
	display: flex;
	align-items: center;

}


p{
	text-align:center;
}



@media (min-width:768px){

	body{
	max-width:960px;
	}
	header{
	height:20%;
	}

	main{
	display: flex;
	flex-direction: row;
	height: 80%;
	}

	main > sidebar{
	height: 100%;
	width:20%;
	}

	main > section{
	display: flex;
	flex-direction: column;
	height:110%;
	width:80%;
	}

	main > section > article{
	height:66%;
	width:110%;
	}

	main > section > article > section:nth-of-type(1){
	display:flex;
	flex-direction: row;
	width:100%;
	height:50%
	}

	main > section > article > section:nth-of-type(2){
	display:flex;
	flex-direction: row;
	width:91%;
	height:60%
	}

	main > section > article > section:nth-of-type(1) > p{
	width:50%;
	height:100%;
	}

	main > section > article > section:nth-of-type(2) > p{
	width:25%;
	}

	main > section > footer{
	height:25%;
	}

}

@media (min-width:961px){

	body{
	max-width:1200px;
	}
	header{
	height:20%;
	}

	main{
	display: flex;
	flex-direction: row;
	height: 80%;
	}

	main > sidebar{
	height: 100%;
	width:20%;
	}

	main > section{
	display: flex;
	flex-direction: column;
	height:110%;
	width:80%;
	}

	main > section > article{
	height:66%;
	width:110%;
	}

	main > section > article > section:nth-of-type(1){
	display:flex;
	flex-direction: row;
	width:100%;
	height:50%
	}

	main > section > article > section:nth-of-type(2){
	display:flex;
	flex-direction: row;
	width:91%;
	height:60%
	}

	main > section > article > section:nth-of-type(1) > p{
	width:50%;
	height:100%;
	}

	main > section > article > section:nth-of-type(2) > p{
	width:25%;
	}

	main > section > footer{
	height:25%;
	}
}