<footer>
	<main>
	<section>
	  <a href="https://www.google.com/maps/place/Barry+Road+Chiropractic/@39.2484557,-94.6552485,17z/data=!3m1!4b1!4m5!3m4!1s0x87c05f49ba0e3c87:0xe136dc6b4f42e687!8m2!3d39.2482028!4d-94.6525592?hl=en"><img id="mapLocation" src="../..//assets/barryrdchiro.png" alt="map with location"></a>
	</section>
  
	<section>
	  <p>Barry Road Chiropractic</p>
	  <p>6316 NW Barry Road</p>
	  <p>Kansas City, Missouri 64154</p>
	  <p>Phone: (816) 516-1727</p>
	  <p>
		<form id="getLocationForm" action="/getLocation" method="post">
		  <p>Need directions? Input your location below:</p>
		  <p><input name="location"></p>
		</form>
	  </p>
	</section>

	<section>
		<ul>
			<li>Hours of Operation</li>
			<li>Monday: 9:30am to 5:30pm</li>
			<li>Tuesday: 9:30am to 4:00pm</li>
			<li>Wednesday: 9:30am to 5:30pm</li>
			<li>Thursday: Closed</li>
			<li>Friday: 9:30am to 6:30pm</li>
			<li>Saturday: By appointment Only</li>
			<li>Sunday: Closed</li>
		</ul>
	</section>
	</main>

</footer>
	
<div id="copyright"> &copy; 2021 Amanda Schmidt</div>
  
  