<footer>
	<section>
	  <a href=""><img id="map_location" src="" alt="map with location"></a>
	</section>
  
	<section>
	  <p><a href="https://www.facebook.com/manda.louise.100" target="_blank"><img id="fbicon" src="/assets/download.png" alt="facebook link"></a>
		<a href="https://www.instagram.com/manders_07/" target="_blank"><img id="igicon" src="/assets/instlogo.png" alt="instagram link"></a>
	  </p>
	  <p>Barry Road Chiropractic</p>
	  <p>6316 NW Barry Road</p>
	  <p>Kansas City, Missouri 64154</p>
	  <p>Phone: (816) 595-1772</p>
	  <p>
		<form id="getLocationForm" action="/getLocation" method="post">
		  <p>Need directions? Input your location below:</p>
		  <p><input name="location"></p>
		</form>
	  </p>
	</section>
  
  </footer>
  
  <div id="copyright"> &copy; 2021 Manda Schmidt</div>