<header>
	
	<div><img id="logoimg" src="../assets/logo.jpg" alt="Manda logo"></div>
	
	<nav>
	  <a href="/">Home</a> |
	  <a href="/services">Services</a> |
	  <a href="/portfolio">Portfolio</a>
	</nav>
	
  </header>