<header>
	<div><img id="logoimg" src="/assets/Manda Schmidt Logo.png" alt="Manda logo"></div>
	<section>
	  <h1>Manda Schmidt</h1>
	  <h2>Esthetician</h2>
	</section>
	<nav>
	  <a href="/">Home</a> |
	  <a href="/services">Services</a> |
	  <a href="/portfolio">Portfolio</a>
	</nav>
  </header>