<header>
	<div><img id="" src="" alt="Manda logo"></div>
	<section>
	  <h1>Manda Schmidt - Esthetician</h1>
	  <h2></h2>
	</section>
	<nav>
	  <a href="/">Home</a> |
	  <a href="/services">Services</a> |
	  <a href="/portfolio">Portfolio</a>
	</nav>
  </header>