<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<%- include('../partials/head') %>

<body>

	<%- include('../partials/header') %>

	

	<section>

		<img id="manda" src="../assets/manda2.jpeg" alt="Manda">

		<div>Shortbread caramels gingerbread soufflé chocolate bar caramels dragée. Lollipop sesame snaps marshmallow gingerbread tootsie roll cake chocolate bar muffin cake. Caramels marshmallow soufflé toffee cheesecake. Ice cream sesame snaps chocolate bar cheesecake liquorice toffee. Caramels toffee pastry oat cake shortbread sesame snaps cheesecake. Tiramisu shortbread halvah dragée apple pie marshmallow cotton candy fruitcake chupa chups.</div>
		<div>Sugar plum icing topping gingerbread tiramisu sweet roll brownie powder tootsie roll. Sweet icing gummi bears pastry sweet cotton candy sugar plum cookie cotton candy. Wafer jelly oat cake cake dessert jelly. Marzipan croissant tootsie roll jelly beans gummies muffin icing. Cupcake muffin muffin sweet liquorice tootsie roll jujubes danish pudding. Sweet roll chocolate cake chocolate cake ice cream. Sesame snaps powder jujubes sesame snaps candy cake topping cheesecake lollipop.</div>

	</section>

	<%- include('../partials/footer') %>

	
  </body>
  
  </html>
  

