<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

	<section id="portfolio">
		<div><img id="lashLift" src="../assets/lashliftandtint.jpeg" alt="Lash Lift"></br>
		<h4>Lash Lift and Tint</h4></div>

		<div><img id="lashExtension1" src="../assets/classicextensions1.jpeg" alt="Lash Extensions 1"></br>
		<h4>Classic Lash Extensions Set</h4>
		</div>

		<div><img id="lashExtension2" src="../assets/classicextensions2.jpeg" alt="Lash Extensions 2"></br>
		<h4>Classic Lash Extensions Set</h4>
		</div>
	</section>


  <%- include('../partials/footer') %>

</body>

</html>