<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

	<section class="serviceList">
		<h3>Waxing</h3><br>
		<p>Eyebrows .... $15</p><br>
		<p>Upper lip .... $15</p><br>
		<p>Nose .... $20</p><br>
		<p>Chin .... $20</p><br>
		<p>Back .... $45</p><br>
		<p>Half legs .... $50</p><br>
		<p>Full legs .... $65</p><br>
		<p>Bikini Line .... $45</p><br><br>

		<h3>Eyelashes</h3><br>
		<p>Lash lift and tint .... $55</p><br>
		<p>Lash tint .... $25</p><br><br>

		<p>Classic Lash extensions - full set .... $95</p><br>
		<p>Classic Lash - mini fill .... $35</p><br>
		<p>Classic Lash - 2 week fill .... $50</p><br><br>

		<p>Volume lash Extensions - full set .... $110</p><br>
		<p>Volume lash - 2 week fill .... $55</p><br>
		<p>Volume lash - 3+ week fill .... $70</p><br><br>

		<p>Hybrid Lash Extensions - full set .... $115</p></br>
		<p>Hybrid - 2 week fill .... $55</p></br>
		<p>Hybrid - 3+ week fill .... $70</p></br></br>

		<p>Lash removal .... $30</p><br><br><br>

		<h3>Microblading</h3><br>
		<p>Eyebrows .... $450</p><br>
		<p>Touch-up (12 to 16 months) .... $195</p><br>
		<p>Touch-up (16+ months) .... $200+</p><br>
		<p>Corrective color microblading .... $300+</p>
		<p>Consultation .... $25</p><br><br>

		<h3>Facials and Spray Tan</h3><br>
		<p>Custom Spray Tan .... $40</p><br>
		<p>Spray tan party .... $35/each with a minimum of 4 people</p><br></br>

		<p>Dermaplane (55min) .... $110</p><br>
		<p>Microdermabrasion .... $95</p><br>
		<p>Chemical Peel .... $95</p><br>
		<p>Gentleman Facial (55min) .... $90</p><br>
		<p>Essential Facial (55min) .... $95</p><br>
		<p>Classic Mini Facial (30min) .... $45</p><br>
		<p>Gel Hydration Mask Facial (55min) .... $75</p><br>
		<p>Teen Facial (55min) .... $85</p></br></br>
	</section>


  <%- include('../partials/footer') %>

</body>

</html>