<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

	<section id="serviceList">
		Facial ...... $$<br>
		Deluxe Facial ...... $$<br>
		Eyebrow Wax ...... $$<br>
		Lip Wax ...... $$<br>

	</section>


  <%- include('../partials/footer') %>

</body>

</html>