header, footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    background: rgb(8, 74, 109) 0%;
    padding: 1em;
}

footer{
	padding: 2.5em;
}

header h1 {
	align-content: left;
	color: #e9e1c4;
	font-size: 3em;
	margin-bottom: 0.3em;
    font-family:cursive;
}

header h2 {
	align-content: left;
	color: #e9e1c4;
	font-size: 2.5em;
    font: Cambria;
}

header nav{
	color: rgb(125, 124, 124);
	font-size: 1.5em;
}

header nav a{
	color:blanchedalmond
}

body section div:nth-child(1){
	padding:2em;
	font-size: 1.5em;
}

body section div:nth-child(2){
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	font-size: 1.5em;
}

body{
    background-color: blanchedalmond;
}


@media (max-width: 1000px) {
    header, footer{
        flex-wrap: wrap;
    }
}