header, footer{
    display: flex;
    width: 100%;
	align-items: center;
    background: rgb(239,232,222) 0%;
    padding: 1em;
}

.homepage{
	display: flex;
}

header div {
	flex: none;
	width: fit-content;
}

footer{
	padding: 2.5em;
	color: rgb(127,60,23);
}

header h1 {
	color: rgb(161, 169, 163);
	font-size: 3em;
	margin-bottom: 0.3em;
    font-family:cursive;
}


header nav{
	color: rgb(161, 169, 163);
	
	font-size: 1.5em;
	margin-top: 5em;
	justify-self: right;
	text-align: right;
}

header nav a{
	color:rgb(161, 169, 163);
}

a:hover{
	color:rgb(163,118,73);
}

body section div:nth-child(1){
	padding:2em;
	font-size: 1.5em;
}


body{
	content:"";
    	background: linear-gradient(30deg, rgba(222,216,216,0.1) 0%, rgba(215,181,170,1) 41%, rgba(178,143,138,1) 100%), url("../assets/pinkpampas.jpeg") ;
		background-repeat: no-repeat;
		background-size: 50% contain;
		background-position: 0% 75%;
}


@media (max-width: 1000px) {
    header, footer main{
        flex-wrap: wrap;
    }
}