header, footer{
    display: flex;
    width: 100%;
	align-items: center;
    background: rgb(170,183,172) 0%;
    padding: 1em;
}

header div {
	flex: none;
	width: fit-content;
}

footer{
	padding: 2.5em;
	color: rgb(127,60,23);
}

header h1 {
	color: #e9e1c4;
	font-size: 3em;
	margin-bottom: 0.3em;
    font-family:cursive;
}

header h2 {
	color: #e9e1c4;
	font-size: 2.5em;
    font: Cambria;
}

header nav{
	color: rgb(125, 124, 124);
	font-size: 1.5em;
	margin-top: 5em;
	justify-self: right;
	text-align: right;
}

header nav a{
	color:blanchedalmond
}

body section div:nth-child(1){
	padding:2em;
	font-size: 1.5em;
}

body section div:nth-child(2){
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	font-size: 1.5em;
}

body{
    background-color: blanchedalmond;
}


@media (max-width: 1000px) {
    header, footer main{
        flex-wrap: wrap;
    }
}