#logoimg{
    width:8em;
    height:10em;
    padding: 1em;
}


footer main{
    display: flex;
    width:65%;
    margin: 0 auto;
    align-items: center;
    line-height: 1.5em;
}

footer main section:nth-child(1){
    padding: 0.5em;
}

footer section:last-child p{
    flex: 0 0 85%;
    padding-left: 3em;
    margin-bottom: 0.5em;
    text-align: left;
}

p.servicesList{
    text-indent: 40px;
}

h3 {
    font-size: 2em;
    text-decoration: underline;
    text-align:left;
}

h4 {
    font-size: 1.5em;
    color:rosybrown;
}

ul{
    margin-left:4em;
}

.serviceList{
    font-family: cursive;
    font-size: 1.5em;
    line-height: 0.9em;
    color:rgb(163,118,73);
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom:20px;
    width: 60%;
    border: solid rgba(200, 132, 81, 0.851) 3px;
}

#portfolio{
    display:flex;
    padding-bottom: 40px;
}

#lashLift, #lashExtension1, #lashExtension2{
    height: 300px;
    width:450px;
    margin-top:40px;
    

}

#mapLocation{
    height:250px;
    width:315px;
}

#copyright{
    background: rgb(195,206,198);
    color: rgb(232, 235, 232);
    text-align: center;
    height: 3em;
    line-height: 3em;
}
