#fbicon{
    width:51px;
    height:51px;
    margin-right:.5em;
    border-radius: 6px;
}

#igicon{
    width:51px;
    height:51px;
    margin-right:.5em;
    border-radius: 6px;
}

#logoimg{
    width:8em;
    height:10em;
    padding: 1em;
}
header main, footer main{
    display: flex;
    width:50%;
    margin: 0 auto;
    align-items: center;
}

footer section:last-child p{
    flex: 0 0 85%;
    padding-left: 3em;
    margin-bottom: 0.5em;
    text-align: left;
    color: whitesmoke;
}

p.servicesList{
    text-indent: 40px;
}

h3 {
    font-size: 2em;
    text-decoration: underline;
    text-align:left;
}

.serviceList{
    font-family: cursive;
    font-size: 1.5em;
    line-height: 0.9em;
    color:rgb(200,132,81);
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom:20px;
    width: 60%;
    border: solid rgba(200, 132, 81, 0.851) 3px;
}



#mapLocation{
    height:300px;
    width:415px;
}

#copyright{
    background: rgb(223, 217, 182);
    color: rgb(170,183,172);
    text-align: center;
    height: 3em;
    line-height: 3em;
}
