#fbicon{
    width:51px;
    height:51px;
    margin-right:.5em;
    border-radius: 6px;
}

#igicon{
    width:51px;
    height:51px;
    margin-right:.5em;
    border-radius: 6px;
}

#logoimg{
    width:15em;
    height:15em;
}

footer section:last-child p{
    flex: 0 0 85%;
    padding-left: 3em;
    margin-bottom: 0.5em;
    text-align: left;
    color: whitesmoke;
}

#serviceList{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    padding: 20px;
    width: 700px;
    border: solid black 3px;
}

#mapLocation{
    height:300px;
    width:415px;
}

#copyright{
    background: rgb(223, 217, 182);
    color: rgb(95, 124, 150);
    text-align: center;
    height: 3em;
    line-height: 3em;
}
